{% if page.title %}

  <nav class="fullwidth group">
      <a href="https://www.univ.ai"><span class="logomed">Univ.</span><span class="logolight"></span>AI</span></a>
      <a href="{{site.baseurl}}">{{site.title}}</a>
      <a href="{{site.baseurl}}Foundations/ktf-c1">Foundations</a>
      <a href="{{site.baseurl}}AcceleratedMasters">Accelerated/Masters</a>
      <a href="{{site.baseurl}}Other">Other</a>
      <a href="https://discourse.univ.AI">Forum</a>
      <a href="https://courses.univ.ai">Login</a>

  </nav>
  <header style="background-image: url(/assets/{{ page.heroimage }});">
    <h1 class="title">{{ page.title }}</h1>
    <div class="articalia">
      <p class="byline">
        {% if page.author %}
        <span class="pullleft">{{ page.author }}&nbsp;&nbsp;</span>
        {% else %}
        <span class="pullleft">{{ site.author }}&nbsp;&nbsp;</span>
        {% endif %}
        {% if page.date %}
          <span class="pullright">{{ page.date | date: "%B %-d, %Y"}}</span>
        {% endif %}
        </p>
        <br/>
        {% if page.summary %}
          <p class="summary">{{ page.summary }}</p>
        {% endif %}
    </div>
  </header>
{% endif %}

